<!-- NAV AND SIDENAV-->
<div id="navbar-and-sidebar-wrapper">

    <!-- SIDEBAR -->
    <div id="main-sidebar" class="overlay">
        <a href="#" id="close-main-sidebar-btn">×</a>
        <div class="overlay-content">
        <a href="/">Αρχική Σελίδα</a>

        <!-- FOOD CATEGORIES -->
        <a href="#" class="sidebar-dropdown-link" id="sidebar-categories-link">Κατηγορίες</a>
        <div class="d-flex flex-wrap justify-content-start px-sm-1 sidebar-items-div">
            <div class="m-1 px-2 sidebar-item-div hide fetch-category-wrapper"><span class="fetch-category-img"></span><span class="fetch-category-link">Burgers</span></div>
            <div class="m-1 px-2 sidebar-item-div hide fetch-category-wrapper"><span class="fetch-category-img"></span><span class="fetch-category-link">Pizza</span></div>
            <div class="m-1 px-2 sidebar-item-div hide fetch-category-wrapper"><span class="fetch-category-img"></span><span class="fetch-category-link">Αναψυκτικά</span></div>
            <div class="m-1 px-2 sidebar-item-div hide fetch-category-wrapper"><span class="fetch-category-img"></span><span class="fetch-category-link">Γλυκά</span></div>
            <div class="m-1 px-2 sidebar-item-div hide fetch-category-wrapper"><span class="fetch-category-img"></span><span class="fetch-category-link">Ζυμαρικά</span></div>
            <div class="m-1 px-2 sidebar-item-div hide fetch-category-wrapper"><span class="fetch-category-img"></span><span class="fetch-category-link">Θαλασσινά</span></div>
            <div class="m-1 px-2 sidebar-item-div hide fetch-category-wrapper"><span class="fetch-category-img"></span><span class="fetch-category-link">Καφέδες</span></div>
            <div class="m-1 px-2 sidebar-item-div hide fetch-category-wrapper"><span class="fetch-category-img"></span><span class="fetch-category-link">Κρέπες</span></div>
            <div class="m-1 px-2 sidebar-item-div hide fetch-category-wrapper"><span class="fetch-category-img"></span><span class="fetch-category-link">Μαγειρευτά</span></div>
            <div class="m-1 px-2 sidebar-item-div hide fetch-category-wrapper"><span class="fetch-category-img"></span><span class="fetch-category-link">Ορεκτικά</span></div>
            <div class="m-1 px-2 sidebar-item-div hide fetch-category-wrapper"><span class="fetch-category-img"></span><span class="fetch-category-link">Σαλάτες</span></div>
            <div class="m-1 px-2 sidebar-item-div hide fetch-category-wrapper"><span class="fetch-category-img"></span><span class="fetch-category-link">Σουβλάκια</span></div>
            <div class="m-1 px-2 sidebar-item-div hide fetch-category-wrapper"><span class="fetch-category-img"></span><span class="fetch-category-link">Σφολιάτες</span></div>
            <div class="m-1 px-2 sidebar-item-div hide fetch-category-wrapper"><span class="fetch-category-img"></span><span class="fetch-category-link">Ψητά</span></div>
        </div>
        <!-- END FOOD CATEGORIES -->

        <a href="#footer" id="sidebar-link-to-footer">Επικοινωνία</a>
        </div>
    </div>
    <!-- END SIDEBAR -->

    <div id="main-navbar">
        <header class="py-3 border-bottom" id="main-header">
            <div class="container-fluid d-grid gap-3 align-items-start px-0" style="grid-template-columns: 1fr 2fr;">

                <div class="d-flex align-items-center">
                    
                    <div id="sidenav-toggler-icon" class="nav-link py-0 ps-2 pe-2">
                        <button class="btn btn-secondary" id="open-main-sidebar-btn">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>

                    <div class="address-dropdown px-0">
                        {{#if userItemsEdited}}
                            <span class="address-dropdown-span">
                                <button class="btn btn-secondary">
                                    {{#if addNewAddress}}
                                    {{/if}}
                                    {{#unless addNewAddress}}
                                        {{#if lastAddress}}
                                            <i class="fa fa-caret-down"></i>&nbsp;{{lastAddress.city}}, {{lastAddress.street}}, {{lastAddress.number}}
                                        {{/if}}
                                    {{/unless}}
                                </button>
                            </span>
                            <div class="address-dropdown-content">
                                <ul class="address-dropdown-element-wrapper">
                                    {{#if addNewAddress}}
                                    {{/if}}
                                    {{#unless addNewAddress}}
                                        <h6>Ενεργή διεύθυνση</h6>
                                        <li class="active-address address-dropdown-element" data-address-id={{lastAddress.address_id}}>{{lastAddress.city}}, {{lastAddress.street}}, {{lastAddress.number}}</li>
                                        <hr class="my-1">
                                        <h6>Επιλογή διεύθυνσης</h6>
                                        {{#each addresses}}
                                            <li class="address-dropdown-element my-1" data-address-id={{this.address_id}}>{{this.city}}, {{this.street}}, {{this.number}}</li>
                                        {{/each}}
                                    {{/unless}}
                                </ul>
                            </div>
                        {{/if}}
                        {{#unless userItemsEdited}}
                        {{/unless}}
                    </div>
                </div>
                
                <div class="d-flex align-items-center pe-2 pe-sm-4">

                <!-- SEARCH FORM -->
                <form id="search-form" action="/search" method="GET" class="w-100 me-3" onsubmit="return false;">
                    <input id="search-input" class="form-control" placeholder="Αναζήτηση..." aria-label="Search">
                </form>
                <!-- END SEARCH FORM -->
                <!-- USER ICON & DROPDOWN -->
                <div class="user-dropdown px-0">
                    <span class="user-dropdown-span">
                        <button class="btn btn-outline-secondary"><i class="fas fa-user-circle user-dropdown-button-icon"></i></button>
                    </span>
                    <div class="user-dropdown-content">
                        <ul class="user-dropdown-element-wrapper">
                            <li class="my-0"><a class="dropdown-item" href="#" type="button">Προβολή Προφίλ</a></li>
                            <li class="my-0"><a class="dropdown-item" href="/orders" type="button">Παραγγελίες</a></li>
                            <li class="my-0"><a class="dropdown-item" href="/addresses" type="button">Διαχείριση Διευθύνσεων</a></li>
                            <li class="my-0"><a class="dropdown-item" href="/cards" type="button">Διαχείριση Καρτών</a></li>
                            <hr class="my-1">
                            <li class="my-0"><a class="dropdown-item" href="#" type="button">Εγγραφή</a></li>
                            <li class="my-0"><a class="dropdown-item" href="/logout" type="button">Αποσύνδεση</a></li>
                        </ul>
                    </div>

                </div>

                </div>
                </div>
            </div>
        </header>
    </div>

</div>
<!-- END NAV AND SIDENAV -->