<div class="container user-items" id="user-items-addresses">
    <!-- ROW -->
    <div class="row">
        <div class="col-6">
            <h1 class="show-user-item">Διαχείριση Διευθύνσεων</h1>
            <h1 class="add-user-item">Προσθήκη Διεύθυνσης</h1>
        </div>
    
        <div class="col-6 d-flex justify-content-end align-items-center">
            <button type="button" class="btn btn-primary bg-secondary add-new-user-item-btn show-user-item">
                Προσθήκη
            </button>
            <button type="button" class="btn btn-primary bg-danger close-new-user-item-btn add-user-item">
                Ακύρωση
            </button>
        </div>

    </div>
    <!-- END ROW -->
        
    <!-- ROW -->
    <div class="row show-user-item">
        <!-- ADDRESSES HERE -->
        {{#if addresses}}
            {{#each addresses}}
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="address-card-wrapper">
                    <div>
                        <label>Πόλη</label>
                        <input type="text" value="{{this.city}}" readonly>
                    </div>
                    <div>
                        <label>Οδός</label>
                        <input type="text" value="{{this.street}}" readonly>
                    </div>
                    <div>
                        <label>Αριθμός</label>
                        <input type="text" value="{{this.number}}" readonly>
                    </div>   
                    <div>
                        <label>Όροφος</label>
                        <input type="text" value="{{this.floor}}" readonly>
                    </div>
                    <div>
                        <label>Κουδούνι</label>
                        <input type="text" value="{{this.bell}}" readonly>
                    </div>
                    <div>
                        <label>Τ. Κ.</label>
                        <input type="text" value="{{this.postcode}}" readonly>
                    </div>
                    <div>
                        <label>Χώρα</label>
                        <input type="text" value="{{this.country}}" readonly>
                    </div>
                    <div>
                        <label>Σημειώσεις</label>
                        <textarea rows="5" cols="22" readonly>{{this.notes}}</textarea>
                    </div>
                    <div>
                        <span><i class="far fa-edit text-primary"></i></span>
                        <span><i class="fas fa-trash-alt text-danger"></i></span>
                    </div>
                    </div>
                </div>
            {{/each}}
        {{/if}}
    </div>
    <!-- END ROW -->

    <div class="row add-user-item">
        <div class="add-user-item-form-wrapper">
            <form class="row needs-validation" id="addAddressForm" method="post" action="/address/add" novalidate>
                <div class="form-group col-12 col-sm-6">
                    <label for="city" class="form-label required">Πόλη:</label>
                    <input type="text" class="form-control" id="city" name="city" required>
                    <div class="invalid-feedback">
                        Παρακαλούμε πληκτρολόγησε την πόλη σου.
                    </div>
                </div>

                <div class="form-group col-12 col-sm-6 my-1">
                    <label for="street" class="form-label required">Οδός:</label>
                    <input type="text" class="form-control" id="street" name="street" required>
                    <div class="invalid-feedback">
                        Παρακαλούμε πληκτρολόγησε την οδό σου.
                    </div>
                </div>

                <div class="form-group col-12 col-sm-6 my-1">
                    <label for="number" class="form-label required">Αριθμός:</label>
                    <input type="text" class="form-control" id="number" name="number" required>
                    <div class="invalid-feedback">
                        Παρακαλούμε πληκτρολόγησε τον αριθμό σου.
                    </div>
                </div>

                <div class="form-group col-12 col-sm-6 my-1">
                    <label for="postcode" class="form-label">Τ.Κ.:</label>
                    <input type="text" class="form-control" id="postcode" name="postcode">
                </div>

                <div class="form-group col-12 col-sm-6 my-1">
                    <label for="country" class="form-label required">Χώρα</label>
                    <select class="form-select" id="country" required>
                        <option selected value="Ελλάδα">Ελλάδα</option>
                        <option value="Κύπρος">Κύπρος</option>                
                    </select>
                    <div class="invalid-feedback">
                        Παρακαλούμε επέλεξε τη χώρα σου.
                    </div>
                </div>

                <div class="form-group col-12 col-sm-6 my-1">
                    <label for="floor" class="form-label">Όροφος:</label>
                    <input type="text" class="form-control" id="floor" name="floor">
                </div>

                <div class="form-group col-12 col-sm-6 my-1">
                    <label for="bell" class="form-label">Κουδούνι:</label>
                    <input type="text" class="form-control" id="bell" name="bell">
                </div>

                <div class="form-group col-12 col-sm-6 my-1">
                    <label for="note" class="form-label">Σημειώσεις:</label>
                    <input type="text" class="form-control" id="note" name="note">
                </div>


                <div class="col-12 my-1">
                    <input type="submit" class="btn btn-primary bg-success add-item" value="Προσθήκη">
                </div>
            </form>
        </div>
    </div>


</div>