<div class="container-fluid user-items" id="user-items-cards">
    <!-- ROW -->
    <div class="row">
    <div class="col-6">
        <h3 class="show-user-item">Διαχείριση Καρτών</h3>
        <h3 class="add-user-item">Προσθήκη/Επεξεργασία</h3>
    </div>
    
    <div class="col-6 d-flex justify-content-end align-items-center">
        <button type="button" class="btn btn-primary bg-secondary add-new-user-item-btn show-user-item">
            Προσθήκη
        </button>
        <button type="button" class="btn close-new-user-item-btn add-user-item" style="background-color: #dd7230;">
            Ακύρωση
        </button>
    </div>
    

    </div>
    <!-- END ROW -->
    
    <!-- ROW -->
    <div class="row show-user-item">
    <!-- CARDS HERE -->
    {{#if cards}}
        {{#each cards}}
            <div class="col-12 col-md-6 col-xl-4">
                <div class="card-card-wrapper" id="{{this._id}}">
                    <div>
                    <label>Αρ. Κάρτας</label>
                    <input type="text" value="{{this.cardNumber}}" readonly>
                    <div class="invalid-feedback">Παρακαλώ εισάγετε τον αριθμό της κάρτας σας.</div>
                    </div>
                    <div>
                    <label>CVV</label>
                    <input type="text" value="{{this.cvv}}" readonly>
                    <div class="invalid-feedback">Παρακαλώ εισάγετε το CVV της κάρτας σας.</div>
                    </div>
                    <div>
                    <label>Ημερ. Λήξης</label>
                    <input type="text" value="{{this.expirationDate}}" readonly>
                    <div class="invalid-feedback">Παρακαλώ εισάγετε την ημερομηνία λήξης της κάρτας σας.</div>
                    </div>   
                    <div>
                    <label>Όνομα Κατόχου</label>
                    <input type="text" value="{{this.cardholder}}" readonly>
                    <div class="invalid-feedback">Παρακαλώ εισάγετε το ονοματεπώνυμο του κατόχου της κάρτας.</div>
                    </div>
                    <div>
                    
                    <span><i class="fas fa-trash-alt text-danger"></i></span>
                    </div>
                </div>
            </div>
        {{/each}}
    {{/if}}
    </div>
    <!-- END ROW -->

    <!-- ROW -->
    <div class="row add-user-item">
        {{>add-card-form}}
    </div>
    <!-- END ROW -->
</div>