<div class="container-fluid search-results pb-5">
    {{#if shops}}
        <h3>Καταστήματα</h3>
        <ul class="shop-result p-0">
            {{#each shops}}
                <li><h5><a href="/shops/{{this.shopId}}">{{this.shopName}}</a></h5><p>{{this.operatingHours}}</p></li>
            {{/each}}
        </ul>
    {{/if}}

    {{#if shops}}
        {{#if products}}
            <hr>
        {{/if}}
    {{/if}}
    {{#unless shops}}
        {{#unless products}}
            <p>Δυστυχώς δε βρήκαμε κάποιο προϊόν ή κατάστημα που να ταιριάζει με την αναζήτησή σου &#x1F62A;</p>
        {{/unless}}
    {{/unless}}


    {{#if products}}
        <h3>Προϊόντα</h3>
        <ul class="item-result p-0">
            {{#each products}}
                <li>
                    <h5><a href="/shops/{{this.shopId}}">{{this.shopName}}</a></h5>
                    <ul>
                        {{#search-list-items this.items this.shopId}}
                        {{/search-list-items}}
                    </ul>
                </li>
            {{/each}}
        </ul>
    {{/if}}
</div>
