<div class="container-fluid shop-items">
    <!-- ROW -->
    <div class="row my-0 pt-1 pb-0">
        <div class="col-12">
            {{#if shop}}
                <h1>{{shop.name}}</h1>
            {{/if}}
        </div>
    </div>

    <!-- ROW -->
    <div class="row d-flex justify-content-center shop-categories my-0 pt-1 pb-0">
        <div class="shop-categories-wrapper">
            {{#if itemsPerCategory}}
                <ul class="categories-scroll-menu">
                    {{#each itemsPerCategory}}
                        <li><span>{{this.category}}</span></li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    </div>

    <div class="row shop-items my-0 pt-1 pb-0">
        {{#if itemsPerCategory}}
            {{#each itemsPerCategory}}
                <div class="category-items" id="{{this.category}}">
                    {{#if this.products}}
                        <ul class="px-1">
                            {{#each this.products}}
                                <li class="px-2"><span id="{{this.item_id}}">{{this.name}}, {{this.price}} <button class="btn btn-outline-secondary">+</button></span></li>
                            {{/each}}
                        </ul>
                    {{/if}}
                </div>
            {{/each}}
        {{/if}}
    </div>
</div>
