<div class="popup" id="itemAddedPopup" style="display: none;"></div> 
{{!-- Add display: none to html to prevent showing when page loads. Remove it with JS --}}

<div class="container-fluid shop-items-container">
    <!-- ROW -->
    <div class="row my-0 pt-1 pb-0">
        <div class="col-6 d-flex justify-content-start align-items-center">
            {{#if shop}}
                <h1>{{shop.name}}</h1>
                <span class="ms-2"></span>{{shop.address.city}}</span>
            {{/if}}
        </div>  
        <div class="col-6 d-flex justify-content-end align-items-center">
            <span class="cart-wrapper"><button class="btn btn-outline-secondary show-cart"><i class="fas fa-shopping-cart"></i></button></span>
        </div>
    </div>

    <!-- ROW -->
    <div class="row d-flex justify-content-center shop-categories my-0 pt-1 pb-0">
        <div class="shop-categories-wrapper">
            {{#if itemsPerCategory}}
                <ul class="categories-scroll-menu">
                    {{#each itemsPerCategory}}
                        <li><span>{{this.category}}</span></li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    </div>

    <div class="row shop-items my-0 pt-1 pb-0">
        {{#if itemsPerCategory}}
            {{#each itemsPerCategory}}
                <div class="category-items" id="{{this.category}}">
                    {{#if this.products}}
                        <ul class="px-1">
                            {{#each this.products}}
                                <li class="px-2 mb-3 mt-0"><span data-item-id="{{this.item_id}}" class="d-flex justify-content-between"><span>{{this.name}}</span><span>{{this.price}} &euro;</span><button class="btn btn-outline-secondary add-to-cart">+</button></span></li>
                            {{/each}}
                        </ul>
                    {{/if}}
                </div>
            {{/each}}
        {{/if}}
    </div>
</div>
